body {
    font-family: "Poppins", sans-serif; /* Define a fonte padrão */
    background-color: #F5F5DC;
    background-image: url("./images/bg-main 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #4CAF50; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    background-color: white;
    border-radius: 5rem;
    padding: 2.2rem;
    letter-spacing: 1px;
    width: 50%;
    line-height: 40px;
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 0.5rem; /* Espaçamento abaixo de cada seção */
}

.menu{
    flex-direction: row;
    gap: 50px;
    margin-left: 5rem;
}

.menu-categoria, .menu-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Estiliza os inputs dentro das seções */
section input, #categoria {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #8B4513; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#categoria{
    width: 10rem;
    text-align: center;
}
option{
    text-align: center;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #388E3C; /* Cor de fundo do botão */
    color: #FFFFFF; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-top: 25px;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 40vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 0; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 80%;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #4CAF50; /* Cor do texto */
    text-align: center;
}

.item-resultado p, .item-resultado  {
    color: #8B4513;
}

/* Estiliza o rodapé da página */
footer {
    background-color: none; /* Cor de fundo do rodapé */
    color: #4CAF50; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    bottom: 10%; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p{
    margin: 0 0 12px 0;
    background-color: white;
    width: 40%;
    border-radius: 2rem;
}
